<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

    <!-- Start Header Area -->
	<header th:replace="fragments/header :: header">
	</header>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${session.cart}">
                                <form th:action="@{/cart/update}" method="post">
                                    <input type="hidden" name="id" th:value="${item.getProductId().getProductId()}" />
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img style="width: 200px; height: 200px;" th:src="@{${item.getProductId().getImageUrl()}}" alt="">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 class="item-price" th:text="${item.getProductId().getPrice()}"></h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input type="text" name="qty" id="sst-${item.getProductId().getProductId()}" maxlength="12" th:value="${item.quantity}" title="Quantity:"
                                                   class="input-text qty" onchange="updateQuantity(${item.getProductId().getProductId()})">
                                        </div>
                                    </td>
                                    <td>
                                        <a class="cart-price" th:text="${item.quantity * item.getProductId().getPrice()}"></a>
                                    </td>
                                    <td>
                                        <button type="submit" class="primary-btn border-0">Update</button>
                                    </td>
                                </form>
                                <td>
                                    <form th:action="@{/cart/remove}" method="post">
                                        <input type="hidden" name="id" th:value="${item.getProductId().getProductId()}" />
                                        <button type="submit" class="primary-btn border-0">Remove</button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="/home/products">Continue Shopping</a>
                                        <form th:action="@{/checkout}" method="post">
                                            <button type="submit" class="primary-btn">Proceed to checkout</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <!-- start footer Area -->
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- End footer Area -->

    <div th:replace="fragments/script :: script"></div>
</body>

</html>