<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body id="category">

<!-- Start Header Area -->
<header th:replace="fragments/header :: header"></header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Shop Category page</h1>
        <nav class="d-flex align-items-center">
          <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="/home/products">Shop<span class="lnr lnr-arrow-right"></span></a>
          <a href="/home/products">Fashion Category</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <div class="sidebar-categories">
        <div class="head">Browse Categories</div>
        <div class="main-categories main-nav-list" th:each="category: ${categories2}">
          <a th:href="@{'/products/categories?cate=' + ${category.getCategoryId()}}"><span th:text="${category.categoryName}"></span></a>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-7">
      <!-- Start Filter Bar -->
      <div class="filter-bar d-flex flex-wrap justify-content-between">
        <div class="sorting">
          <form id="filterForm" th:action="@{/products/categories}" method="get">
            <select name="filter" id="filterSelect" onchange="document.getElementById('filterForm').submit()">
              <option value="1" th:selected="${param.filter == '1'}">Sort by Price: Default sorting</option>
              <option value="2" th:selected="${param.filter == '2'}">Sort by Price: Low to high</option>
              <option value="3" th:selected="${param.filter == '3'}">Sort by Price: High to Low</option>
            </select>
            <input type="hidden" name="cate" th:value="${param.cate}" />
            <input type="hidden" name="pageNo" th:value="${param.pageNo}" />
          </form>
        </div>
          <div class="pagination">
            <a th:href="@{'/products?pageNo='+${i}}" th:each="i:${#numbers.sequence(1, totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
              <span th:text="${i}"></span></a>
          </div>
      </div>
      <!-- End Filter Bar -->
      <!-- Start Best Seller -->
      <section class="lattest-product-area pb-40 category-list">
        <div class="row">
          <!-- single product -->
          <div class="col-lg-4 col-md-6" th:each="product : ${products2}">
            <div class="single-product">
              <img class="img-fluid" th:src="@{${product.imageUrl}}" alt="">
              <div class="product-details">
                <h6 th:text="${product.productName ?: 'Unknown Product'}"></h6>
                <div class="price">
                  <h6 th:text="'$' + (${product.price} ?: '0.00')"></h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <div class="prd-bottom">
                  <a th:href="@{/cart/add/{productId}(productId=${product.productId})}" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Best Seller -->
      <!-- Start Filter Bar -->
      <div class="filter-bar d-flex flex-wrap justify-content-center" style="margin-bottom: 20px;">
        <div class="pagination">
          <a th:href="@{'/products?pageNo='+${i}}" th:each="i:${#numbers.sequence(1, totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
            <span th:text="${i}"></span></a>
        </div>
      </div>

      <!-- Display the message if it exists -->
<!--      <div th:if="${message}" class="alert alert-info">-->
<!--        <p th:text="${message}"></p>-->
<!--      </div>-->
      <!-- End Filter Bar -->
    </div>
  </div>
</div>

<!-- start footer Area -->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- End footer Area -->

<div th:replace="fragments/script :: script"></div>
</body>

</html>