<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<!-- Start Header Area -->
    <header th:replace="fragments/header :: header"></header>
<!-- End Header Area -->

<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/login">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
    </section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="/img/exclusive.jpg" alt="" style="height: 700px;">
                    <div class="hover">
                        <h4>Welcome to our website</h4>
                        <p>If you already have account click here</p>
                        <a class="primary-btn" href="/login">Log in</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Sign up</h3>
                    <form class="row login_form" th:action="@{/register}" method="post">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Your Password" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Confirm Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="fullName" placeholder="Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'">
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Sign up</button>
                        </div>
                    </form>
                    <p th:if="${error}" th:text="${error}"></p>
                    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
    </section>
<!--================End Login Box Area =================-->

<!-- start footer Area -->
    <footer th:replace="fragments/footer :: footer"></footer>
<!-- End footer Area -->

    <div th:replace="fragments/script :: script"></div>
</body>

</html>