<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

    <!-- Start Header Area -->
	<header th:replace="fragments/header :: header"></header>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order Tracking</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Fashon Category</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            <div class="tracking_box_inner mb-2">
                <p>To track your order please enter your Email in the box below and press the "Track" button.</p>
                <form class="row tracking_form" th:action="@{/tracking-order}" method="get" novalidate="novalidate">
                    <div class="col-md-12 form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Billing Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Track Order</button>
                    </div>
                </form>
            </div>

            <table class="table table-bordered table-hover">
                <thead class="table-primary">
                <tr>
                    <th>Order ID</th>
                    <th>Total</th>
                    <th>Total Amount</th>
                    <th>Product</th>
                </tr>
                </thead>
                <tbody class="">
                <tr th:each="order : ${orders}">
                    <td th:text="${order.getOrderId()}"></td>
                    <td th:text="${order.getTotal()}"></td>
                    <td th:text="${order.getTotalAmount()}"></td>
                    <td th:text="${order.getProductId().getProductName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!--================End Tracking Box Area =================-->

    <!-- start footer Area -->
	<footer th:replace="fragments/footer :: footer"></footer>
    <!-- End footer Area -->

	<div th:replace="fragments/script :: script"></div>
</body>

</html>